@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik","Arial",sans-serif;
    font-family: "Rubik";
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}





.primary-button {
    display: inline-block;
    cursor: pointer;
    border-radius: 999px;
    background-color: #4b6cc1;
    color: #fff;
    padding: 22px 32px;
    font-size: 1.375rem;
    border: none;
    margin-right: 20px;
    transition: ease .3s;
    border: 2px solid #4b6cc1;
    font-family: "Rubik","Arial",sans-serif;
}

.primary-button:hover {
    transform: scale(1.075);
    color: #4b6cc1;
    border: 2px solid #4b6cc1;
    background-color: inherit;
}






header {
    background-color: #191a1d;
}

.header-inner{
    padding: 60px 0 60px 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 90%;
    margin: auto;
}

.menu {
    width: 40%;
    margin-left: auto;
}

nav {
    display: flex;
    justify-content: space-around; 
}

nav a {
    color: rgb(171, 171, 171);
    font-size: 1.4rem;
    transition: ease .3s;
    line-height: 100%;
    position: relative;
}

nav a:hover {
    color: #fff;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 6px;
    max-width: 20%;
    width: 20%;

    pointer-events: none;
    background-color: #4b6cc1;
    border-radius: 999px;
    opacity: 0;
    transition: ease .3s;
}

nav a:hover::after {
    max-width: 70%;
    width: 70%;
    opacity: 1;
}

nav a.highlighted {
    color: #fff;
}

nav a.highlighted::after {
    max-width: 70%;
    width: 70%;
    opacity: 1;
}


.logo {
    font-size: 1.75rem;
    font-weight: 500;
    /* height: 51px; */
    letter-spacing: .063rem;
}

.logo a {
    color: #fff;
}

.logo a::after {
    content: '';
    display: block;
    margin-top: 17px;
    height: 6px;
    background-color: #4b6cc1;
    border-radius: 999px;
    max-width: 30%;
    transition: ease .3s;
}

.logo a:hover::after {
    max-width: 15%;
}





#banner {
    background-color: #191a1d;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}

.banner-title {
    font-size: 4.5rem;
    text-align: center;
    padding-top: 60px;
    font-weight: 400;
    color: #fff;
}

.banner-description {
    font-size: 2.125rem;
    margin: auto;
    margin-top: 30px;
    width: 60%;
    text-align: center;
    color: rgb(171, 171, 171);
    font-weight: 300;
    padding-bottom: 230px;
    line-height: 140%;
    transition: all ease .3s;
}













/* PROJECTS PAGE */
#projects-page {
    padding-top: 100px;
    width: 90%;
    margin: auto;
    /* margin-bottom: 300px; */
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    min-height: 95vh;
}

.project:nth-of-type(even){
    flex-direction: row-reverse;
}

.project-preview-image{
    width: 60%;
    padding: 45px;
    background-color: #f6f6f6;
    border-radius: 6px;
}

.project-preview-image img{
    flex-shrink: 0;
    width: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,.05),0 5px 30px rgba(0,0,0,.2);
}

.project-preview-content {
    width: 35%;
    /* padding: 50px; */
}

.project-summary .title {
    color: black;
    font-size: 3.25rem;
    font-weight: 400;
}

.project-summary .description {
    line-height: 160%;
    margin-top: 20px;
    font-size: 1.625rem;
    font-weight: 300;
}

.tech-used {
    padding-top: 40px;
    padding-bottom: 20px;
}

.tech-item {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.063rem;
    color: #919191;
    margin-left: 0.0em;
}

.tech-item:not(:last-child){
    margin-bottom: 23px;
}


.project-buttons {
    padding-top: 40px;
}

a.primary-button {
    /* font-size: 1.2rem; */
    font-weight: 400;
}
/* END PROJECTS PAGE */















/* CALL TO ACTION */
#cta {
    background-color: #191a1d;
    width: 100%;
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
    padding-top: 250px;
    padding-bottom: 130px;
}

.cta-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}

.cta-call h1 {
    color: #fff;
    font-size: 3.25rem;
    font-weight: 400;

}

.cta-call h2 {
    font-size: 1.625rem;
    font-weight: 300;
    margin-top: 20px;
    padding-bottom: 40px;
    color: rgba(255, 255, 255, .5);
}

.cta-contact-info {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.cta-contact-info svg {
    width: 24px;
    fill: #4b6cc1;
}

.cta-contact-info div {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.cta-contact-info a {
    margin-left: 15px;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    transition: ease .3s;
}

.cta-contact-info a:hover {
    color: #fff;
}

.cta-contact-info a:not(:last-child){
    margin-bottom: 30px;
}

.cta-button {
    font-size: 1.65rem;
    padding: 26px 48px;
}

.cta-button:hover {
    color: #fff
}
/* END CALL TO ACTION */












/* FOOTER */ 
footer {
    background-color: #101114;
    margin-top: -1px;
}

.footer-inner {
    padding: 40px 0 40px 0;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 1.125rem;
}
/* END FOOTER */














/* SERVICES PAGE */
#services-page {
    padding-top: 130px;
}

#services-page .service{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 130px;
}

#services-page .service-inner{
    display: flex;
    background-color: #f6f6f6;
    padding: 10%;
    border-top: 6px solid #4b6cc1;
    border-radius: 6px;
}

#services-page svg {
    fill: #4b6cc1;
    width: 150px;
    display: block;
}

#services-page .icon-half{
    width: 35%;
}

#services-page .text-half{
    width: 75%;
}

#services-page .description {
    padding-top: 40px;
}

#services-page .service-title {
    font-size: 3.25rem;
    line-height: 115%;
    font-weight: 400;
    color: #191a1d;
}

#services-page .service-subtitle {
    font-size: 2.125rem;
    line-height: 115%;
    font-weight: 400;
    color: #191a1d;
}

#services-page .description-text {
    margin-top: 20px;
    line-height: 160%;
    font-size: 1.375rem;
}



/* END SERVICES PAGE */















/* ABOUT PAGE */
#about-page {
    padding-top: 130px;
    padding-bottom: 130px;
}

#about-page .content {
    max-width: 925px;
    margin: auto;
}

#about-page .content .title {
    font-size: 3.25rem;
    line-height: 115%;
    font-weight: 400;
    color: #191a1d
}

#about-page .content .text {
    margin-top: 20px;
    line-height: 160%;
    font-size: 1.375rem;
}

#about-page .content button {
    margin-top: 20px;
}

#whyworkwithme {
    margin-top: 100px;
}
/* END ABOUT PAGE */
















/* CONTACT PAGE */

#contact-page {
    padding-top: 130px;
    padding-bottom: 130px;
}

#contact-page .status {
    max-width: 925px;
    margin: auto;
    text-align: center;
    background-color: #f6f6f6;
    padding: 6%;
    margin-bottom: 100px;
    border-radius: 6px;
    border-top: 6px solid #4b6cc1;
}

#contact-page .status h1 {
    font-size: 3.125rem;
    font-weight: 400;
    color: #4b6cc1;
}

#contact-page .status h2 {
    font-size: 2.125rem;
    font-weight: 400;
    color: #191a1d;
}

#contact-page .status h3 {
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.625rem;
}

#contact-page form {
    max-width: 925px;
    margin: auto;
}

#contact-page form label{
    display: block;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #919191;
    letter-spacing: .063rem;
}

#contact-page .form-row-1 {
    display: flex;
    justify-content: space-between;
}

#contact-page .form-row-2 {
    margin-top: 40px;
}

.form-row-1 .form-item {
    width: 100%;
}

.form-row-1 .form-item:last-child{
    margin-left: 35px
}

#contact-page form input {
    font-weight: 100;
    font-size: 1.25rem;
    height: 70px;
    width: 100%;
    padding: 24px;
    border: 2px solid #e2e2e2;
    border-radius: 6px;
    background-color: #f9f9f9;
}

#contact-page form input[value=""]:invalid {
    border-color: #c1594b;
}

#contact-page form textarea{
    resize: vertical;
    font-weight: 100;
    font-size: 1.25rem;
    min-height: 240px;
    width: 100%;
    padding: 24px;
    border: 2px solid #e2e2e2;
    border-radius: 6px;
    background-color: #f9f9f9;
    -webkit-appearance: none;
}

#contact-page button {
    display: block;
    padding: 20px 30px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid #4b6cc1;
    line-height: 100%;
}



/* END CONTACT PAGE */