@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik","Arial",sans-serif;
    font-family: "Rubik";
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}





.primary-button {
    display: inline-block;
    cursor: pointer;
    border-radius: 999px;
    background-color: #4b6cc1;
    color: #fff;
    padding: 22px 32px;
    font-size: 1.375rem;
    border: none;
    margin-right: 20px;
    transition: ease .3s;
    border: 2px solid #4b6cc1;
    font-family: "Rubik","Arial",sans-serif;
}

.primary-button:hover {
    transform: scale(1.075);
    color: #4b6cc1;
    border: 2px solid #4b6cc1;
    background-color: inherit;
}






header {
    background-color: #191a1d;
}

.header-inner{
    padding: 60px 0 60px 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 1430px;
}

.menu {
    width: 40%;
    margin-left: auto;
}

#mobile-nav, .toggle-menu {
    display: none;
}

nav {
    display: flex;
    justify-content: space-around; 
}

nav a {
    color: rgb(171, 171, 171);
    font-size: 1.4rem;
    transition: ease .3s;
    line-height: 100%;
    position: relative;
}

nav a:hover {
    color: #fff;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 6px;
    max-width: 20%;
    width: 20%;

    pointer-events: none;
    background-color: #4b6cc1;
    border-radius: 999px;
    opacity: 0;
    transition: ease .3s;
}

nav a:hover::after {
    max-width: 70%;
    width: 70%;
    opacity: 1;
}

nav a.highlighted {
    color: #fff;
}

nav a.highlighted::after {
    max-width: 70%;
    width: 70%;
    opacity: 1;
}


.logo {
    font-size: 1.75rem;
    font-weight: 500;
    /* height: 51px; */
    letter-spacing: .063rem;
}

.logo a {
    color: #fff;
}

.logo a::after {
    content: '';
    display: block;
    margin-top: 17px;
    height: 6px;
    background-color: #4b6cc1;
    border-radius: 999px;
    max-width: 30%;
    transition: ease .3s;
}

.logo a:hover::after {
    max-width: 15%;
}





#banner {
    background-color: #191a1d;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}

.banner-inner {
    padding-bottom: 230px;
    max-width: 925px;
    margin: auto;

}

.banner-title {
    font-size: 4.5rem;
    text-align: center;
    padding-top: 60px;
    font-weight: 400;
    color: #fff;
}

.banner-description {
    font-size: 2.125rem;
    margin: auto;
    margin-top: 30px;
    /* width: 60%; */
    text-align: center;
    color: rgb(171, 171, 171);
    font-weight: 300;
    line-height: 140%;
    transition: all ease .3s;
}

#banner .btn-wrapper {
    width: fit-content;
    margin: auto;
    margin-top: 35px;
}

#banner .primary-button {
    font-size: 1.75rem;
    padding: 22px 48px;
}

#banner .primary-button:hover {
    color: white;
}

.home-page-banner {
    padding-top: 60px;
    padding-bottom: 30px;
}

.home-page-banner .banner-inner {
    max-width: 1200px;
    display: flex;
}

.home-page-banner .banner-title,
.home-page-banner .banner-description {
    text-align: left !important;
}

.home-page-banner .btn-wrapper {
    margin-left: 0 !important;
}

.home-page-banner .flex-item-1 {
    padding-right: 147px;
}

.home-page-banner .flex-item-2 {
    padding: 50px;
    background-color: #121316;
    border-radius: 4px;
}

.home-page-banner .img-wrapper {
    margin-bottom: -100px;
}

.home-page-banner .img-wrapper img {
    width: 330px;
    border-radius: 4px;
}











/* HOME PAGE */
#home-page {
    padding-top: 130px;
    padding-bottom: 130px;
}

#project-section, #services-section {
    max-width: 1430px;
    width: 90%;
    margin: auto;
}

#home-page .section-title {
    text-transform: uppercase;
    border-bottom: 4px solid #f6f6f6;
    margin-bottom: 60px;
}

#home-page .section-title h1 {
    font-size: 1.5rem;
    padding-bottom: 15px;
    color: #919191;
    font-weight: 500;
    letter-spacing: 0.063em;
}

#home-page .project {
    flex-direction: row;
}

.testimonial {
    background-color: #f6f6f6;
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimonial-inner {
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 925px;
    margin: auto;
    text-align: center;
}

.testimonial .quote-inner {
    padding: 60px 0;
    position: relative;
}

.testimonial .quote-inner::before, 
.testimonial .quote-inner::after {
    content: "";
    position: absolute;

    transform: translate(-50%);
    width: 60px;
    height: 6px;
    background-color: #4b6cc1;
    border-radius: 999px;
}

.testimonial .quote-inner::before {
    top: 0;
}

.testimonial .quote-inner::after {
    bottom: 0;
}

.testimonial .quote-text {
    font-size: 2.875rem;
    line-height: 135%;
    color: #191a1d;
}

.testimonial .quote-text::before {
    content: open-quote;
}

.testimonial .quote-text::after {
    content: close-quote;
}

.testimonial .quote-author {
    margin-top: 80px;
    font-size: 1.625rem;
}

.testimonial .quote-author img {
    display: block;
    margin: auto;
    border-radius: 999px;
    width: 80px;
    margin-bottom: 20px;
}

.testimonial .author-name {
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 100%;
}

#services-section {
    padding: 130px 0 0 0;
}

#services-section .flex {
    display: flex;
    justify-content: space-between;
}

#services-section .service {
    width: 48.11%;
    text-align: center;
}

#services-section .service-inner {
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

#services-section .text-half,
#services-section .icon-half {
    width: initial;
}

#services-section .service-title {
    font-size: 2.125rem;
}

#services-section .service-subtitle {
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 160%;
}

#services-section .description {
    padding-top: 0;
    margin-top: 20px;
    width: 100%;
}

#services-section .icon-wrapper::after {
    content: "";
    display: block;
    margin: 40px auto; 
    height: 6px;
    width: 100%;
    max-width: 30px;
    background-color: #4b6cc1;
    border-radius: 999px;
}

#services-section svg {
    max-width: 52px;
    max-height: 52px;
}

#services-section .top-space {
    padding-top: 80px;
    text-align: center;
}




/* END HOME PAGE */












/* PROJECTS PAGE */
#projects-page {
    padding-top: 100px;
    width: 90%;
    max-width: 1430px;
    margin: auto;
    /* margin-bottom: 300px; */
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.project:nth-of-type(even){
    flex-direction: row-reverse;
}

.project-preview-image {
    width: 60%;
    padding: 45px;
    background-color: #f6f6f6;
    border-radius: 6px;
}

.project-preview-image img{
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,.05),0 5px 30px rgba(0,0,0,.2);
    background-color: #f6f6f6;
}

.project-preview-content {
    width: 35%;
    /* padding: 50px; */
}

.project-summary .title {
    color: black;
    font-size: 3.25rem;
    font-weight: 400;
}

.project-summary .description {
    line-height: 160%;
    margin-top: 20px;
    font-size: 1.625rem;
    font-weight: 300;
}

.tech-used {
    padding-top: 40px;
    padding-bottom: 20px;
}

.tech-item {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.063rem;
    color: #919191;
    margin-left: 0.0em;
}

.tech-item:not(:last-child){
    margin-bottom: 23px;
}


.project-buttons {
    padding-top: 40px;
}

a.primary-button {
    /* font-size: 1.2rem; */
    font-weight: 400;
}
/* END PROJECTS PAGE */















/* CALL TO ACTION */
#cta {
    background-color: #191a1d;
    width: 100%;
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
    padding-top: 250px;
    padding-bottom: 130px;
}

.cta-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    max-width: 1200px;
}

.cta-call h1 {
    color: #fff;
    font-size: 3.25rem;
    font-weight: 400;

}

.cta-call h2 {
    font-size: 1.625rem;
    font-weight: 300;
    margin-top: 20px;
    padding-bottom: 40px;
    color: rgba(255, 255, 255, .5);
}

.cta-contact-info {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.cta-contact-info svg {
    width: 24px;
    fill: #4b6cc1;
}

.cta-contact-info div {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.cta-contact-info a {
    margin-left: 15px;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    transition: ease .3s;
}

.cta-contact-info a:hover {
    color: #fff;
}

.cta-contact-info a:not(:last-child){
    margin-bottom: 30px;
}

.cta-button {
    font-size: 1.65rem;
    padding: 26px 48px;
}

.cta-button:hover {
    color: #fff
}
/* END CALL TO ACTION */












/* FOOTER */ 
footer {
    background-color: #101114;
    margin-top: -1px;
}

.footer-inner {
    max-width: 1430px;
    padding: 40px 0 40px 0;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 1.125rem;
}
/* END FOOTER */














/* SERVICES PAGE */
#services-page {
    padding-top: 130px;
}

#services-page .service{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 130px;
}

.service .service-inner{
    display: flex;
    background-color: #f6f6f6;
    padding: 10%;
    border-top: 6px solid #4b6cc1;
    border-radius: 6px;
}

.service svg {
    fill: #4b6cc1;
    width: 150px;
    display: block;
}

.service .icon-half{
    width: 35%;
}

.service .text-half{
    width: 75%;
}

.service .description {
    padding-top: 40px;
}

.service .service-title {
    font-size: 3.25rem;
    line-height: 115%;
    font-weight: 400;
    color: #191a1d;
}

.service .service-subtitle {
    font-size: 2.125rem;
    line-height: 115%;
    font-weight: 400;
    color: #191a1d;
}

.service .description-text {
    margin-top: 20px;
    line-height: 160%;
    font-size: 1.375rem;
}



/* END SERVICES PAGE */















/* ABOUT PAGE */
#about-page {
    padding-top: 130px;
    padding-bottom: 130px;
}

#about-page .content {
    max-width: 925px;
    margin: auto;
}

#about-page .content .title {
    font-size: 3.25rem;
    line-height: 115%;
    font-weight: 400;
    color: #191a1d
}

#about-page .content .text {
    margin-top: 20px;
    line-height: 160%;
    font-size: 1.375rem;
}

#about-page .content a {
    margin-top: 20px;
}

#whyworkwithme {
    margin-top: 100px;
}
/* END ABOUT PAGE */
















/* CONTACT PAGE */

#contact-page {
    padding-top: 130px;
    padding-bottom: 130px;
}

#contact-page .status {
    max-width: 925px;
    margin: auto;
    text-align: center;
    background-color: #f6f6f6;
    padding: 6%;
    margin-bottom: 100px;
    border-radius: 6px;
    border-top: 6px solid #4b6cc1;
}

#contact-page .status h1 {
    font-size: 3.125rem;
    font-weight: 400;
    color: #4b6cc1;
}

#contact-page .status h2 {
    font-size: 2.125rem;
    font-weight: 400;
    color: #191a1d;
}

#contact-page .status h3 {
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.625rem;
}

#contact-page form {
    max-width: 925px;
    margin: auto;
}

#contact-page form label{
    display: block;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #919191;
    letter-spacing: .063rem;
}

#contact-page .form-row-1 {
    display: flex;
    justify-content: space-between;
}

#contact-page .form-row-2 {
    margin-top: 40px;
}

.form-row-1 .form-item {
    width: 100%;
}

.form-row-1 .form-item:last-child{
    margin-left: 35px
}

#contact-page form input {
    font-weight: 100;
    font-size: 1.25rem;
    height: 70px;
    width: 100%;
    padding: 24px;
    border: 2px solid #e2e2e2;
    border-radius: 6px;
    background-color: #f9f9f9;
}

#contact-page form input[value=""]:invalid {
    border-color: #c1594b;
}

#contact-page form textarea{
    resize: vertical;
    font-weight: 100;
    font-size: 1.25rem;
    min-height: 240px;
    width: 100%;
    padding: 24px;
    border: 2px solid #e2e2e2;
    border-radius: 6px;
    background-color: #f9f9f9;
    -webkit-appearance: none;
}

#contact-page button {
    display: block;
    padding: 20px 30px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid #4b6cc1;
    line-height: 100%;
}
/* END CONTACT PAGE */









@media only screen and (max-width: 767px) {
    .primary-button {
        font-size: 1rem;
        padding: 16px 24px;
    }




    /* HEADER */
    header {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 99;
    }

    .header-inner {
        padding: 20px 0;
        width: 92%;
        border-bottom: 2px solid #303134;
    }

    .logo {
        font-size: 1.5rem; 
        line-height: 24px;
        z-index: 100;
    }

    .logo a {
        transition: all ease .3s;
    }

    .logo a::after {
        margin-top: 12px;
    }

    #desktop-nav {
        display: none;
    }


    .toggle-menu {
        display: block;
    }

    .toggle-menu img {
        width: 40px; 
        display: block;
        pointer-events: none;
    }
    
    button.icon-wrapper {
        margin-left: auto;
        display: block;
        border: none;
        cursor: pointer;
        background-color: inherit;
        position: relative;
        z-index: 999;
    }

    #mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;

        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: start;
        overflow: hidden;

        /* animated */
        height: 0%;
        visibility: hidden;
        padding: 0% 4% 0% 4%;
        transition: all ease .6s;
        opacity: 0;
    }

    #mobile-nav .nav-item:not(:last-child) {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #f1f1f1;
    }

    #mobile-nav .nav-item a {
       color: #5e5e5e;
       font-size: 1.25rem;
    }

    #mobile-nav .nav-item a::after {
        display: none;
    }

    #mobile-nav .nav-item a:hover {
       color: #5e5e5e;
    }

    #mobile-nav .highlighted a{
        color: #000 !important;
        font-weight: 400;
    }

    #mobile-nav .highlighted:not(:last-child) {
        border-bottom: 2px solid #4b6cc1 !important;
    }
    /* END HEADER */




    /* BANNER */
    #banner {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
        padding: 0 0 50px 0;
        padding-top: 84px;
    }

    .banner-inner {
        width: 92%;
        padding: 45px 0 50px 0;
    }

    .banner-title {
        padding: 0;
        font-size: 2.125rem;
        line-height: 100%;
    }

    .banner-description {
        font-size: 1.25rem;
        margin-top: 25px;
    }

    .home-page-banner .banner-inner {
        flex-direction: column;
        padding-bottom: 65px;
    }

    .home-page-banner .flex-item-1 {
        padding: 0;
    }

    #banner .btn-wrapper {
        margin-top: 25px;
    }

    #banner .primary-button {
        font-size: 1.25rem;
        padding: 18px 30px;
        line-height: 100%;
    }

    .home-page-banner .flex-item-2 {
        margin-top: 40px;
        /* margin-bottom: 15px; */
        padding: 15px;
    }

    .home-page-banner .img-wrapper {
        margin-bottom: -30px;
    }

    .home-page-banner .img-wrapper img {
        width: 100%;
    }
    /* END BANNER */




    /* HOME PAGE */
    #home-page, #services-section {
        padding: 50px 0;
    }

    #project-section, #services-section, .testimonial-inner {
        width: 92%;
    }

    #home-page .section-title {
        margin-bottom: 35px;
    }

    #home-page .section-title h1 {
        font-size: 1.25rem;
    }

    .testimonial {
        clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 calc(100% - 50px));
        padding-top: 50px;
    }

    .testimonial-inner {
        padding: 50px 0;
        background-size: 400px !important;
    }

    .testimonial .quote-text {
        font-size: 1.375rem;
    }

    .testimonial .author-name,
    .testimonial .author-title {
        font-size: 1.125rem;
    }

    #services-section .flex {
        flex-direction: column;
    }

    #services-section .service {
        width: 100%;
    }

    #services-section .service:nth-child(2) {
        margin-top: 30px;
    }

    #services-section .service-title {
        font-size: 1.25rem;
        line-height: 115%;
    }

    #services-section .service-subtitle {
        font-size: 1.125rem;
    }

    #services-section .icon-wrapper::after {
        margin: 30px auto;
    }

    #services-section .top-space {
        padding-top: 40px;
    }

    #services-section .top-space a {
        margin-right: 0;
        padding: 14px 22px;
    }

    #services-section .description {
        margin-top: 15px;
    }
    /* END HOME PAGE */

    


    /* PROJECTS PAGE */
    #projects-page {
        width: 92%;
        padding-top: 50px;
    }

    .project {
        flex-direction: column !important;
        justify-content: initial;
        padding-bottom: 50px;
        min-height: initial;
    }

    .project-preview-image {
        width: 100%;
        padding: 15px;
    }

    .project-preview-content {
        width: 100%;
        padding: 0 15px;
        margin-top: 30px;
    }

    .project-summary .title {
        font-size: 1.625rem;
    }

    .project-summary .description {
        font-size: 1.125rem;
        margin-top: 15px;
    }

    .project .tech-used {
        padding: 25px 0 0 0;
    }

    .project .tech-item {
        font-size: 0.875rem;
    }

    .project .project-buttons {
        padding-top: 25px;
        display: flex;
        justify-content: space-around;
    }

    .project-buttons a {
        /* padding-left: 18px;
        padding-right: 18px; */
        margin: 0;
    }
    /* END PROJECTS PAGE */




    /* SERVICES PAGE */
    #services-page {
        padding: 50px 0 0 0;
    }

    #services-page .service {
        width: 92%;
        padding-bottom: 50px;
    }

    .service-inner {
        flex-direction: column;
    }

    .service .icon-half,
    .service .text-half {
        width: 100%;
    }

    .service svg {
        width: 70px;
        margin-bottom: 30px;
    }

    .service .description {
        padding-top: 25px;
    }

    .service .service-title {
        font-size: 1.625rem;
    }

    .service .service-subtitle {
        font-size: 1.25rem;
    }

    .service .description-text {
        font-size: 1rem;
        margin-top: 15px;
    }
    /* END SERVICES PAGE */




    /* ABOUT PAGE */
    #about-page {
        padding: 50px 0;
    }

    #about-page .content {
        width: 92%;
    }

    #about-page .content .title {
        font-size: 1.625rem;
    }

    #about-page .content .text {
        font-size: 1rem;
    }

    #whyworkwithme {
        margin-top: 40px;
    }
    /* END ABOUT PAGE */




    /* CONTACT PAGE */
    #contact-page {
        padding: 50px 0;
    }

    #contact-page form,
    #contact-page .status {
        width: 92%;
    }

    #contact-page .status {
        padding: 10%;
        margin-bottom: 45px;
    }

    #contact-page .status h1 {
        font-size: 1.625rem;
    }

    #contact-page .status h2 {
        font-size: 1.25rem;
    }

    #contact-page .status h3 {
        font-size: 1.125rem;
    }

    #contact-page form label {
        font-size: 1rem;
    }

    #contact-page .form-row-1 {
        flex-direction: column;
    }

    #contact-page .form-row-2 {
        margin-top: 25px;
    }

    #contact-page .half-2 {
        margin-left: 0 !important;
        margin-top: 25px;
    }

    #contact-page form input {
        padding: 15px;
        font-size: 1.125rem;
        height: 60px;
    }

    #contact-page form textarea {
        min-height: 180px;
        padding: 15px;
        font-size: 1.125rem;
        line-height: 140%;
    }

    #contact-page button {
        margin-top: 25px;
    }
    /* END CONTACT PAGE */




    /* CALL TO ACTION */
    #cta {
        clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
        padding: 50px 0 0 0;
    }

    .cta-inner {
        flex-direction: column;
        width: 92%;
        padding: 50px 0;
    }

    .cta-call h1 {
        font-size: 1.625rem;
    }

    .cta-call h2 {
        font-size: 1.125rem;
        margin-top: 15px;
    }

    .cta-contact-info {
        width: 100%;
    }

    .cta-contact-info a {
        font-size: .875rem;
        margin-left: 10px;
    }

    .cta-contact-info svg {
        width: 16px;
    }

    .cta-button {
        font-size: 1.25rem;
    }
    /* END CALL TO ACTION */




    /* FOOTER */
    .footer-inner {
        font-size: .875rem;
        width: 92%;
        padding: 25px 0 ;
    }
    /* END FOOTER */
}